#condicionalsimples{
    background-color:palegoldenrod;
    margin: 0;
    padding: 10%;
    width: 50%;
    vertical-align: middle;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-bottom: 1%;
}
.amarelo{
    background-color:palegoldenrod;
    margin: 0;
    padding: 10%;
    width: 50%;
    vertical-align: middle;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-bottom: 1%;
}
#condicionalentao{
    background-color:palegoldenrod;
    margin: 0;
    padding: 10%;
    width: 50%;
    vertical-align: middle;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-bottom: 1%;
}
#condicionalsenao{
    background-color:palegoldenrod;
    margin: 0;
    padding: 10%;
    width: 50%;
    vertical-align: middle;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-bottom: 1%;
}
#senaose{
    background-color:palegoldenrod;
    margin: 0;
    padding: 10%;
    width: 50%;
    vertical-align: middle;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-bottom: 1%;
}
#condicionalcase{
    background-color:palegoldenrod;
    margin: 0;
    padding: 10%;
    width: 50%;
    vertical-align: middle;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-bottom: 1%;
}
#caseopcao{
    background-color:palegoldenrod;
    margin: 0;
    padding: 10%;
    width: 50%;
    vertical-align: middle;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-bottom: 1%;
}