.operator-grid p {
  background-color: palevioletred;
  padding: 6%;
  vertical-align: middle;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.rosa {
  background-color: palevioletred;
}
