#entradaDados{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#igualdade{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.rosa{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#diferenca{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#maior{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#menor{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#nao{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#ee{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#ou{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#dv{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#aspas{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#apostrofe{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#pontoevirgula{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#virgula{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#mod{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#parentese1{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#parentese2{
    background-color: palevioletred;
    padding: 10%;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 10px;
}