#enquanto {
  background-color: tomato;
  margin: 0;
  padding: 10%;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-bottom: 1%;
}
.laranja2 {
  background-color: tomato;
  margin: 0;
  padding: 10%;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-bottom: 1%;
}
#faca {
  background-color: tomato;
  margin: 0;
  padding: 10%;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-bottom: 1%;
}
#repita {
  background-color: tomato;
  margin: 0;
  padding: 10%;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-bottom: 1%;
}
#until {
  background-color: tomato;
  margin: 0;
  padding: 10%;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-bottom: 1%;
}
#para {
  background-color: tomato;
  margin: 0;
  padding: 10%;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-bottom: 1%;
}
#ate {
  background-color: tomato;
  margin: 0;
  padding: 10%;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-bottom: 1%;
}
